<footer class="mainfooter" role="contentinfo" style="margin-top: 0;">
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-6">
                    <div class="col-md-12">
                        <h4>Follow Us</h4>
                        <div class="social-network social-circle">
                            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa-brands fa-facebook"></i></a></li>
                            <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa-brands fa-linkedin"></i></i></a></li>
                            <li><a href="#" class="icoInstagram" title="Linkedin"><i class="fa-brands fa-instagram"></i></i></a></li>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 copy">
                            <p class="text-center">&copy; Copyright 2022 - CureSaders. All rights reserved.</p>
                        </div>
                    </div>


                </div>
            </div>
</footer>